################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Acil_Durum_Yonetimi_Simulasyonu/TestLogs/SimulationLog_DS_BASED_20250510_234028.json
/Acil_Durum_Yonetimi_Simulasyonu/TestLogs/SimulationLog_DS_BASED_20250511_115227.json
/Acil_Durum_Yonetimi_Simulasyonu/TestLogs/SimulationLog_REGULAR_20250510_235516.json
/Acil_Durum_Yonetimi_Simulasyonu/TestLogs/SimulationLog_REGULAR_20250511_115625.json
/Acil_Durum_Yonetimi_Simulasyonu/Data/simulation_data.json
/Acil_Durum_Yonetimi_Simulasyonu/Data/simulation_data_generated.json
/Acil_Durum_Yonetimi_Simulasyonu/Data/simulation_data_generated_2.json
/Acil_Durum_Yonetimi_Simulasyonu/.gitignore
