# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.env
*.env.*
.env

# Pytest
.pytest_cache

# Virtual env
venv/

# IDE'ler
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#Github'da görünmesine gerek yok
Onemli.md 
